$maxwidth : 100vw

@media screen and (min-width: 500px) 
    $maxwidth : 306px
    .zahlenumfeld
        max-width: $maxwidth !important
    .anzeige
        width: $maxwidth !important
    

.zahlenumfeld 
    background-color: red
    max-width: $maxwidth
    display: flex
    flex-wrap: wrap
    margin-top: 15px

.summenfeld
    background-color: rgb(34, 35, 35)
    width: 100%
    
    text-align: right
    padding-right: 10%
    line-height: 100%
    
.summenfeld p 
    font-size: 2em
    height: 100%
    color: white
    font-family: Arial
    margin: 20px 0 20px 0

.anzeige
    margin-top: 5px
    width: $maxwidth
    display: flex
    overflow: hidden

.anzeige p 
    margin: 0
    font-family: Arial

.upper, .lower
    background-color: rgb(34, 35, 35)
    color: white
    /* padding: 10px */
    display: flex
    padding: 4px
    max-height: 30px
.lower p 
    font-size: 0.92em
    cursor: pointer
.finishway1, .finishway2
    font-size: 0.92em
    background-color: rgb(133, 0, 0)
    color: white
    padding: 4px
    font-family: Arial
    border-bottom: 1px solid rgb(100, 0, 0)

.mitte
    width: 100%

.upper div 
    width: 50%

.upper_right
    display: flex

.upper_right p 
    width: 33%

.middle
    display: flex
    width: 100%

.innen_links
    width: 50%

.innen_rechts
    width: 50%
    background-color: rgb(40,174,27)
    color: white
    
.oben, .unten
    display: flex
    justify-content: space-around
    padding-top: 4px
    padding-bottom: 4px
.innen_rechts p 
    width: 20%

.name_s1
    background-color: rgb(248, 248, 245)
    padding: 4px
    border-bottom: 1px solid #e0e0e0
    cursor: pointer

.name_s2
    background-color: rgb(248, 248, 245)
    padding: 4px
    cursor: pointer

.finish_s1
    background-color: rgb(133, 0, 0)
    color: white
    margin-top: 30px
    padding: 4px 2px 4px 2px
.finish_s2
    background-color: rgb(133, 0, 0)
    color: white
    padding: 4px 2px 4px 2px

.jetzt_s1, .jetzt_s2
    background-color: rgb(133, 0, 0)
    color: white
    padding: 4px
    

.jetzt_s1
    margin-top: 30px
.jetzt_s2
    margin-top: 55px
    
.jetzt_s1 p, .jetzt_s2 p
    transform: rotate(90deg)

.menu .soundsymbol, .menu .soundsymbol2
    padding: 4px
    margin-left: 10px
    cursor: pointer
    width: 50px
     -ms-user-select: None
    -moz-user-select: None
    -webkit-user-select: None
    user-select: None

.menu 
    display: flex