$background : #003F63
$header : #005687
$footer : #005687
$gelb : #F2B705
$gelb_hover : #FBD253

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nunito:ital,wght@1,600&family=Ubuntu:wght@500&family=Zen+Tokyo+Zoo&display=swap')

//font-family: 'Mukta', sans-serif
//font-family: 'Nunito', sans-serif
//font-family: 'Ubuntu', sans-serif
//font-family: 'Zen Tokyo Zoo', cursive

* 
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent
    max-width: 100%


.content
    background-color: $background
    width: 100vw

.centerUntereinander
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 20px 0

// DESKTOP VERSION DISPLAY
@media screen and (min-width: 600px)
    #nutzerberichte
        padding: 0 20% 0 20%

    #footer
        flex-direction: row !important
        justify-content: space-evenly !important
        padding: 3% !important
    .frontpic h1 
        font-size: 4rem !important
    #vergleich img
        width: 40% !important

//---------- HEADER BEGINN ------------

header 
    padding-top: 2vh
    padding-bottom: 2vh
    background-color: $header
    color: $gelb
    //font-family: Roboto
    font-family: 'Zen Tokyo Zoo', cursive
    font-size: 1.9rem
    display: flex
    justify-content: space-around
    align-items: center
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    width: 100vw
    position: fixed
    top: 0
    z-index: 3

#inhalt 
    padding-top: 80px
   
//---------- HEADER ENDE ------------

//---------- Section 1 BEGINN ------------
section
    background-color: $background
    

h2
    color: white
    //font-family: Roboto
    font-family: 'Nunito', sans-serif
    margin: 40px 20px 0 20px
    //transform: rotate(-10deg)
    margin-bottom: 30px
    text-shadow: 2px 2px 4px #000000
    text-align: center

.frontpic
    background-image: url("../../assets/frontpage_assets/frontpic_new_blau_sticker.jpg")
    //background-image: url("photographer.jpg"); /* The image used */
    
    background-position: center 
    background-repeat: no-repeat 
    background-size: cover 

    background-color: $background
    width: 100vw
    height: 50vh
    //clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%)
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 20px 0

.frontpic h1 
    color: white
    font-size: 3rem
    //font-family: Roboto
    font-family: 'Ubuntu', sans-serif
    text-align: center
    text-shadow: 2px 2px 4px #000000
    padding: 20px
//---------- Section 1 ENDE ------------

//---------- Section 2 BEGINN ------------
video
    width: clamp(300px, 90vw, 820px)
    height: clamp(200px, 55vw, 500px)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) 
//---------- Section 2 ENDE ------------

//---------- Section 3 BEGINN ------------
h2.title
    font-size: 1.8rem
    color: white
    text-shadow: 2px 2px 4px #000000
    text-align: center
    font-family: 'Mukta', sans-serif

p 
    font-size: 1.1rem
    font-family: 'Ubuntu', sans-serif
    text-shadow: 2px 2px 4px #000000
    padding: 10px 20px
p.gelb 
    color: $gelb
p.white 
    color: white

.trennLinie
    width: 80vw
    height: 5px
    background-color: $gelb
    border-radius: 20px
    margin: 20px auto
a
    color: white
    text-decoration: none
    font-family: 'Ubuntu', sans-serif
    margin: 0px auto
a.white 
    margin-bottom: 10px 
    &:hover
        text-decoration: underline
        cursor: pointer

//---------- Section 3 ENDE ------------

//---------- Section 4 START ------------
#vergleich 
    display: flex !important
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 50px 0 50px 0
#vergleich img
    width: 70%
    
//---------- Section 4 ENDE ------------

//---------- FOOTER ANFANG ------------
#footer
    background-color: $footer
    padding: 5%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

#footer p, footer a
    text-shadow: none
    padding: 0

ul
    margin-top: 10px

ul li
    list-style-type: none

//---------- FOOTER ENDE ------------

.button
    text-decoration: none
    font-weight: bold
    border-radius: 30px
    padding: 20px
    background-color: $gelb
    color: $background
    font-family: 'Ubuntu', sans-serif
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) 
    -webkit-transform: perspective(1px) translateZ(0)
    transform: perspective(1px) translateZ(0)
    box-shadow: 0 0 1px rgba(0, 0, 0, 0)
    -webkit-transition-duration: 0.3s
    transition-duration: 0.3s
    -webkit-transition-property: transform
    transition-property: transform
    
    &:hover
        background-color: $gelb_hover
        cursor: pointer
        -webkit-transform: scale(1.1)
        transform: scale(1.1)

.linie
    //margin-left: -50px
    height: 20px
    width: 120vw
    background-color: $gelb
    //transform: rotate(-10deg)
.linie2
    margin-top: 10px
    //margin-left: -50px
    height: 20px
    width: 120vw
    background-color: $gelb
    //transform: rotate(-10deg)