<div class="content">

        <header>
                <h1 class="headertitle">REAL-DARTS.COM</h1>
                <div class="burger">
                        <div class="burgerLine"></div>
                        <div class="burgerLine"></div>
                        <div class="burgerLine"></div>
                </div>
        </header>

        <section>
                <h2>Der erste Dartszähler mit integriertem Caller und Fangesängen...</h2>
                <div class="linie"></div>
                <div class="linie2"></div>
                <div class="frontpic">
                        <h1>Der Dartszähler der Zukunft!</h1>
                        <a class="button" routerLink="/match">Jetzt direkt ausprobieren</a>
                </div>
                <div class="linie"></div>
                <div class="linie2"></div>
        </section>

</div>


<!-- >h1>Willkommen bei real-darts</h1>
<p>Probiere den Mobile Modus aus</p>
<a class="button" routerLink="/match">Jetzt ausprobieren</a>
-->